* {
  margin: 0%;
  padding: 0;
  list-style: none;
}
boyd {
  background: #C9C9C9;
}
#refreshContainer {
  width: 100%;
  height: 41px;
}
#refreshContainer div {
  width: 100%;
  background: #006699;
  padding-left: 21px;
  padding-right: 25px;
  position: relative;
}
#refreshContainer div i {
  position: absolute;
  left: -15px;
  line-height: 41px;
  color: white;
  font-weight: bold;
  font-size: 45x;
}
#refreshContainer div span {
  position: absolute;
  right: -15px;
  top: 10px;
  color: white;
  font-weight: bold;
}
#refreshContainer div input {
  width: 100%;
  height: 35px;
  margin-top: 3px;
}
.main {
  width: 100%;
  padding-top: 41px;
}
.main .left {
  width: 23%;
  position: fixed;
}
.main .left li {
  width: 100%;
  height: 43px;
  background: white;
  border-bottom: 1px solid #ccc;
  line-height: 45px;
  text-align: center;
  font-size: 15px;
}
.main .left li:first-child {
  background: #C9C9C9;
}
.main .right {
  width: 74%;
  float: right;
  margin-top: 10px;
  overflow: hidden;
}
.main .right .mui-row {
  width: 100%;
}
.main .right .mui-row img {
  width: 100%;
  vertical-align: middle;
}
